@import "tailwindcss";

@theme {
  --color-primary: #379b89;
  --color-secondary: #009566;
  --color-dark: #002f20;
  --color-bg: #f0f6f2;
}

.features-slider .slick-list{
  padding-block: 3rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 9999px;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
